.readProgressContainer {
    z-index: 400;
    position: fixed;
    width: 100%;
    height: 3px;
    background: #d6d6d6;
    top: 45;
    left: 0;
}
.readProgressBar {
    height: 3px;
    background: linear-gradient(141deg, #b72c2c 0%, #9f1717 51%, #780c0c 75%);
    width: 0%;
}