.toolTagTopicTitle{
    display: grid;
    grid-template-columns: auto 32px;
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 18px;
    margin-bottom: 18px;
}
.toolTagTopicTitle a:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0048ff00;
    width: 32px;
    text-align: right;
    transition: all 100ms;
}
.toolTagTopicTitle:hover a:nth-child(2){
    color: #003a9d;
}