.toolTagVideoContainer{
    display: grid;
    grid-template-rows: auto auto;
    background-color: rgb(239, 239, 239);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.toolTagVideoVideo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}
.toolTagVideoVideo video{
    width: 100%;
    max-width: 640px;
    border-radius: 4px;
}
.toolTagVideoComment{
    text-align: center;
    font-style: italic;
    color: rgb(121, 121, 121);
}